<div id="changePasswordModal" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Password changed</h4>
			</div>
			<div class="modal-body">
				<p>Your password change request has been processed correctly</p>
				<p>An email has been sent to your email account to confirm your change. Please confirm your change before we make it</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>